<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-stacked">
        <div class="card-content">
          <p>Transferencia details:</p>
          <p>#: {{ selectedTransferencia?.id }}</p>
          <p>Conta: {{ selectedTransferencia?.numero }}</p>
          <p>Agência: {{ selectedTransferencia?.agencia }}</p>
          <p>Conta de destino: {{ selectedTransferencia?.conta_destino}}</p>
          <p>Agência de destino: {{ selectedTransferencia?.agencia_destino}}</p>
          <p>Data de transferência: {{ selectedTransferencia?.data}}</p>
          <p>Valor $: {{ selectedTransferencia?.valor}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
