<h5>{{ title }}</h5>
<div class="row" *ngIf="transferencia" >
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSave()">
    <div class="row">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <input id="numero_conta_remetente" type="text" class="validate"
               [(ngModel)]="transferencia.numero_conta_remetente" formControlName="numero_conta_remetente"
               [class.invalid]="form.controls['numero_conta_remetente'].touched && !form.controls['numero_conta_remetente'].valid"
        >
        <label for="numero_conta_remetente"
               [class.active]="transferencia.numero_conta_remetente"
               data-error="You need to enter at least 3 chars">
          Conta
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">email</i> -->
        <input id="agencia_remetente" type="text" class="validate"
               [(ngModel)]="transferencia.agencia_remetente" formControlName="agencia_remetente"
               [class.invalid]="form.controls['agencia_remetente'].touched && !form.controls['agencia_remetente'].valid">
        <label for="agencia_remetente"
               [class.active]="transferencia.agencia_remetente"
               data-error="Invalid agencia">
          Agência
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <input id="numero_conta_destinatario" type="text" class="validate"
               [(ngModel)]="transferencia.numero_conta_destinatario" formControlName="numero_conta_destinatario"
               [class.invalid]="form.controls['numero_conta_destinatario'].touched && !form.controls['numero_conta_destinatario'].valid"
        >
        <label for="numero_conta_destinatario"
               [class.active]="transferencia.numero_conta_destinatario"
               data-error="You need to enter at least 3 chars">
          Conta de destino
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">email</i> -->
        <input id="agencia_destinatario" type="text" class="validate"
               [(ngModel)]="transferencia.agencia_destinatario" formControlName="agencia_destinatario"
               [class.invalid]="form.controls['agencia_destinatario'].touched && !form.controls['agencia_destinatario'].valid">
        <label for="agencia_destino"
               [class.active]="transferencia.agencia_destinatario"
               data-error="Invalid agencia">
          Agência de destino
        </label>
      </div>
    </div>
 
    <div class="row">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">email</i> -->
        <input id="valor_movimentacao" type="text" class="validate"
               [(ngModel)]="transferencia.valor_movimentacao" formControlName="valor_movimentacao"
               [class.invalid]="form.controls['valor_movimentacao'].touched && !form.controls['valor_movimentacao'].valid">
        <label for="valor_movimentacao"
               [class.active]="transferencia.valor_movimentacao"
               data-error="Invalid valor">
          Valor
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
          Submit<i class="material-icons right">send</i>
        </button>
        <a class="waves-effect waves-light btn red"
        (click)="onCancel()">Cancel</a>
      </div>
    </div>
  </form>
</div>
