<h5>Login</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSignin()">
    <div class="row">
      <div class="input-field col s12">
        <input id="number" type="text" class="validate"
               formControlName="number"
               [class.invalid]="form.controls['number'].touched && !form.controls['number'].valid">
        <label for="number"
               data-error="Número de conta inválido">
          Número
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="agency" type="text" class="validate"
               formControlName="agency"
               [class.invalid]="form.controls['agency'].touched && !form.controls['agency'].valid">
        <label for="agency"
               data-error="Agência é obrigatória">
          Agência
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
          Login<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
